h1,h2,h3,h4,h5,h6 {
  font-size: 16px;
  font-family: "Times New Roman", serif
}

.clear {
  clear: both;
}

.qrcode {
  width: 50%;
  padding: 10px;
}

.node img {
  padding: 5px;
}

.right {
  width: 180px;
  /*margin-right: -220px;*/
  margin-left: 20px;
  float: right;
  clear: right;
  position: relative;
  word-wrap: break-word;
  overflow: hidden;
}

.right * {
  float: left;
  position: relative;
  clear: both;
  width: 150px;
  text-align: "left";
}

.right img {
  width: 140px;
  border: 1px solid #cccccc;
  padding: 0;
  margin: 0;
}

.frame {
  border: 1px solid #dddddd;
  font-weight: 400;
  clear: left;
  padding: 10px;
  margin: 0 0 10px 0px;
  width: 650px;
}

body {
  font-size: 12px;
  font-family: serif
  text-align: "justifiy";
}

.node {
  margin: 5px auto;
  width: 900px;
}

.node_content {
  float: left;
}

.w960 .center-layout {
  margin: 5px;
}

.content {
  margin: 5px auto;
}

.node .ingress {
  float: left;
}

.contentbrowser_caption {
  clear: both;
  display: block;
  padding: 3px;
  font-size: 0.8em;
}

.right .contentbrowser_caption {
  border: none;
} 

h2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-bottom: 40px;
  font-size: 1.0em;
  text-align: justify;
  page-break-inside: avoid;
}

.footer {
  margin: 5px auto;
  width: 100%;
}

.footer .footer_ndla_logo {
  display: none;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  .right {
    width: 100%;
  }
}
