@CHARSET "UTF-8";

#th_sort_header_node, #th_sort_header_type, #th_sort_header_published, #th_sort_header_language, #th_sort_header_changed  {
  background-color: #BBDADC;
  color: #36C;
  cursor: pointer;
  cursor: hand;
  padding: 4px 10px;
}

.down {
	background:url(/misc/arrow-asc.png) no-repeat bottom right;
	margin-left: 30px;
}

.up {
  background:url(/misc/arrow-desc.png) no-repeat bottom right;
  margin-left: 30px;
}

.add_node_button{
  background-color: #81A3A5;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
  width: 50px;
  height: 18px;
  text-align: center;
}

#addResources {
  background-color: #81A3A5;
  color: #fff;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
  width: 200px;
  height: 18px;
  text-align: center;
}

#node_table{
  font-size: 90%;
}

#chosen_resources, #chosen_aims {
	width: 100%;
	border: solid 1px #BBDADC;
	background-color: #ebebeb;
	margin-bottom: 20px;
	padding: 4px;
}

/* override greptree css*/
#lang_tab {
  float:right !important;
}

.inactive-tab, .active-tab {
  width: 220px !important;
}

.remove_button {
  width: 16px;
  height: 16px;
  background: url(../img/cross.png) no-repeat top left;
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  margin-right: 4px;
  cursor: pointer;
  cursor: hand;
}

#batchadd_get_next,#batch_add_search_get_next,#search_get_next,#delete_get_next {
  color: #36C;
  cursor: pointer;
  cursor: hand;
  float: right;
  margin-bottom: 6px;
}


#batchadd_force_check {
	padding: 10px;
	margin-left:20px;
	margin-top: -20px
}

#batchadd_force_button {
 margin-left: 20px; 
}

#nav_buttons {
  margin-bottom: 10px;
}

#flush_search {
  background-color: #8EC1C4;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  font-weight bold;
  padding: 5px 20px;
  float: right;
  display: none;
}

#batchadd_get_previous,#batch_add_search_get_previous,#search_get_previous {
  color: #36C;
  cursor: pointer;
  cursor: hand;
  float: left;
  display: none;
  margin-bottom: 6px;
}

#batch_add_search_type_nodeid,#batch_add_search_type_title, #batch_add_search_submit {
  margin-left: 6px;
}

#batch_fieldset label{
	margin-left: 4px;
	color: #81A3A5;
}

.edit-link, .delete-link {
  color: #36C;
  cursor: pointer;
  cursor: hand;
  padding: 2px;
}

#edit-window {
  width: 630px;
  position: absolute;
  top: 100px;
  left: 0px;
  background-color: #333333;
  opacity: 0.8;
  border: solid 1px #0B6138;
  color: #0B6138;
  display: none;
}

#edit-window-close{
  background: url(../img/cross.png) no-repeat top left;
  float: right;
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  cursor: hand;
}

#topic_form {
 padding: 10px;
}
  


#topic_form_messages{
  display: none;
}

#topic_form label, #topic_form legend {
  color: #f5f5f5;
}

.topic_form_error_message {
  max-width: 400px;
  padding: 4px;
  background-color: #F6CECE;
  border: solid 1px #B40404;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 10px;
}

.topic_form_success_message {
  max-width: 600px;
  padding: 4px;
  background-color: #A9F5A9;
  border: solid 1px #0B6138;
  color: #0B6138;
  margin-top: 10px;
  margin-bottom: 10px;
}

#topic_table {
  clear: both;
  display: none;
}